.daily_div
{
    background-color: white;
    height: 240px;
    width: 580px;
    border:solid 2px rgb(221, 221, 221);
    border-radius:7px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 21px;
    display: flex;
    flex-direction: column;
}
.flex_one_d
{
    height: 80px;
    width: 99%;
    /* background-color: red;  */
    display: flex;
    flex-direction: row;
    position: relative;
    left: 0.5%;
    top: 0.5%;
}
.day_d
{
    font-size: 1.17rem;
    font-weight: 600;
    color: rgb(137, 137, 137);
    position:relative;
    top:-10px;
    left:13px;
}
.date_d
{
    font-size: 1.17rem;
    font-weight: 600;
    color: rgb(137, 137, 137);
    position:absolute;
    top:14px;
    left:13px;
}
.cloud_image_d
{
    height: 70px;
    position: absolute;
    top: 0px;
    left: 90px;
}
.max_temp_d
{
    font-size: 3.1rem;
    font-weight: 500;
    color: rgb(49, 49, 49);
    position: absolute;
    top:-48px;
    left:162px;
}
.min_temp_d
{
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(111, 111, 111);
    position: absolute;
    top:14px;
    left:222px;
}
.drop_d
{
    opacity: 0.4;
    height: 60px;
    position: absolute;
    top:22.8px;
    left: 485px;
}
.chance_rain_d
{
    font-size: 1.2rem;
    color: rgb(58, 58, 58);
    position: absolute;
    top: 2px;
    left:515px;
}
.weather_condition_d
{
    font-size: 1.2rem;
    color: rgb(83, 83, 83);
    position: relative;
    top:-16px;
    left: 13px;
}
.outer_flexbox_d
{
    height: 100px;
    width: 99%;
    /* background-color: red; */
    position: relative;
    top: -12%;
    left: 0.5%;
    display: flex;
    flex-direction: row;
}
.left_flexbox_d
{
    height: 100px;
    width: 46%;
    /* background-color: blue; */
    margin-right: 2.5%;
    margin-left: 1.5%;
    display: flex;
    flex-direction: column;
}
.right_flexbox_d
{
    height: 100px;
    width: 46%;
    /* background-color: rgb(93, 93, 220); */
    margin-right: 1.5%;
    margin-left: 2.5%;
    display: flex;
    flex-direction: column;
}
.inner_div_d
{
    height: 48px;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: row;
    border-bottom: solid 2px rgb(215, 215, 215);
}
.info_label_d
{
    color: rgb(100, 100, 100);
}
.info_label_in_d
{
    margin-left: 59%;
    color: rgb(41, 41, 41);
}
.info_label_in_d_sun
{
    margin-left: 45%;
    color: rgb(41, 41, 41);
}
.humidity_value_d
{
    margin-left: 62.5%;
    color: rgb(41, 41, 41);
}
.error_back_daily
{
    z-index: 0;
    height:680px;
    width: 100%;
    position: fixed;
    top:78px;
    display: flex;
    justify-content: center;
    background-color: rgb(238, 238, 238);
    /* background-color: red; */
}
.second_error_back_daily
{
    height: 120px;
    width: 100%;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:120px;
}
.error_current_daily
{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    color: rgb(129, 129, 129);
}
.try_again_daily
{
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(67, 67, 67);
    position: relative;
    top:-60px;
}
@media(max-width:1480px)
{
    .error_back_daily
    {
        position: fixed;
        top:130px;
        /* background-color: brown; */
    }
}
@media(max-width:620px)
{
    .daily_div
{
    height: 220px;
    width: 460px;
}
.flex_one_d
{
    height: 75px;
    /* background-color: red;  */
}
.day_d
{
    font-size: 1.06rem;
    font-weight: 600;
    color: rgb(137, 137, 137);
    position:relative;
    top:-12px;
    left:10px;
}
.date_d
{
    font-size: 1.06rem;
    font-weight: 600;
    color: rgb(137, 137, 137);
    position:absolute;
    top:11px;
    left:11px;
}
.cloud_image_d
{
    height: 65px;
    position: absolute;
    top: -3px;
    left: 85px;
}
.max_temp_d
{
    font-size: 2.6rem;
    position: absolute;
    top:-41px;
    left:151px;
}
.min_temp_d
{
    font-size: 1.08rem;
    font-weight: 500;
    position: absolute;
    top:10px;
    left:205px;
}
.drop_d
{
    opacity: 0.4;
    height: 60px;
    position: absolute;
    top:17px;
    left: 377px;
}
.chance_rain_d
{
    font-size: 1.1rem;
    position: absolute;
    top: -1.5px;
    left:405px;
}
.weather_condition_d
{
    font-size: 1.12rem;
    position: relative;
    top:-11px;
}
.info_label_d
{
    color: rgb(100, 100, 100);
}
.info_label_in_d
{
    margin-left: 45%;
    color: rgb(41, 41, 41);
}
.info_label_in_d_sun
{
    margin-left: 30%;
    color: rgb(41, 41, 41);
}
.humidity_value_d
{
    margin-left: 54%;
    color: rgb(41, 41, 41);
}
}