.heading_weather_send
{
    font-size: 3.5rem;
    font-weight: 700;
    position: absolute;
    top:60px;
    left: 100px;
    color: rgb(79, 79, 79);
}
.sub_heading
{
    font-size: 1.1rem;
    font-weight: 600;
    position: absolute;
    top:170px;
    left: 110px;
    color: rgb(138, 138, 138);
}
.parent_home_flexbox
{
    height: auto;
    width: 94%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:215px;
    left: 0px;
    margin-left: 3%;
    margin-right: 3%;
}
.inner_flexbox_home
{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 4%;
}
.text_wrap_home
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.ss_head
{
    font-size: 2.4rem;
    color: rgb(93, 93, 93);
    font-weight: 700;
    position: relative;
    top:25px;
}
.ss_home
{
    height: 450px;
    padding: 10px;
    padding-bottom: 16px;
    border-radius: 7px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    top: 38px;
}
.ss_desc
{
    width: 450px;
    font-weight: 400;
    color: rgb(127, 127, 127);
    font-size: 1.3rem;
}
.home_current
{
    margin-left: 40px;
}
.home_daily
{
    margin-bottom: 30px;
}
.home_hourly
{
    margin-right: 40px;
}
.desc_daily
{
    width: 700px;
    text-align: center;
}
.home_footer
{
    margin-top: 8%;
    height: 120px;
    width: 106%;
    background-color: rgb(197, 197, 197);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexbox_footer
{
    height: 40px;
    width:180px;
    display: flex;
    flex-direction: row;
    position: relative;
    top:20px;
    left: 6px;
}
.takeme
{
    height: 40px;
    margin-right: 19px;
}
.contact_img_footer
{
    opacity: 0.55;
}
.contact_img_footer:hover
{
    opacity: 0.65;
}
.api_ref
{
    text-align: center;
    font-size: 1rem;
    color: rgb(80, 80, 80);
    position: relative;
    top:5px;
}
.weather_api
{
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    color: rgb(47, 47, 47);
    position: relative;
    left: 6.5px;
}
.weather_api:hover
{
    color: rgb(79, 79, 79);
}

@media(max-width:1480px)
{
    .heading_weather_send
    {
        position: absolute;
        top:117px;
        left: 5%;
        color: rgb(79, 79, 79);
    }
    .sub_heading
    {
        font-size: 1.1rem;
        font-weight: 600;
        position: absolute;
        top:220px;
        left: 7%;
        color: rgb(138, 138, 138);
    }
    .parent_home_flexbox
    {
        position: absolute;
        top:230px;
    }
    .ss_head
    {
        position: relative;
        top:37px;
    }

}
@media(max-width:1045px)
{
    .home_footer
    {
        height: 110px;
        margin-top: 17%;
    }
    .ss_head
    {
        position: relative;
        top:42px;
    }
    .home_current
    {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 60px;
        margin-top: -25px;
    }
    .home_daily
    {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: -15px;
    }
    .home_hourly
    {
        margin-left: 35px;
        margin-right: 35px;
        margin-bottom: -16px;
    }
    .home_daily
    {
        height: 405px;
        position: relative;
        top: 38px;
        content: url('./daily_new_img.png');
    }
    .desc_daily
    {
        width: 450px;
    }
}